<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ino.web.freeBoard.mapper.FreeBoardMapper">


	<select id="freeBoardGetList" resultType="hashMap"> <!-- resultType="ino.web.board.dto.BoardDto" -->
		SELECT r, num, name, title, content,
		to_char(regdate,'yyyy-mm-dd')regdate
		from(
		SELECT row_number() over(order by num desc) as r ,num, name, title, content,
		regdate
		from freeboard 
		where 1 = 1  
		
				<if test="searchType=='DCODE001'  ">
				
				and	title like '%'||#{keyword1}||'%' 
				</if>
				
				<if test="searchType=='DCODE002'  ">
				and	num = #{keyword1}
				</if>
				
				<if test="day1 !=''  and  day1 != null ">
				and	to_char(regdate,'yyyymmdd') between #{day1} and #{day2}
				</if>

	 
		ORDER BY num desc
		) 
		
		WHERE r BETWEEN #{sno} AND #{eno}
		order by num desc
	</select>

	<select id="total" parameterType="hashMap" resultType="int">
		select count(*) from freeboard
		where 1 = 1  
		 
				<if test="searchType=='DCODE001'  ">
				and	title like '%'||#{keyword1}||'%' 
				</if>
				
				<if test="searchType=='DCODE002'  ">
				and	num = #{keyword1} 
				</if>
				
				<if test="day1 !=''  and  day1 != null ">
				and 	to_char(regdate,'yyyymmdd') between #{day1} and #{day2}
				</if>

	
	</select>


	<insert id="freeBoardInsertPro" parameterType="hashMap">
		INSERT INTO
		FREEBOARD(NUM, TITLE, NAME, REGDATE, CONTENT)
		VALUES(
		FREEBOARDNUM_SEQ.NEXTVAL, #{title}, #{name}, SYSDATE, #{content} )
	</insert>

	<select id="freeBoardDetailByNum" resultType="hashMap"
		parameterType="int">
		SELECT NUM, TITLE, NAME, TO_CHAR(REGDATE,'YYYY/MM/DD')
		REGDATE, CONTENT FROM FREEBOARD
		WHERE NUM=#{num}
	</select>

	<select id="freeBoardNewNum" resultType="int">
		SELECT MAX(NUM)
		FROM
		FREEBOARD
	</select>

	<update id="freeBoardModify" parameterType="hashMap">
		UPDATE FREEBOARD
		SET
		TITLE = #{title}
		, CONTENT = #{content}
		WHERE NUM = #{num}
	</update>

	<update id="freeBoardDelete" parameterType="int">
		DELETE FROM FREEBOARD
		WHERE NUM
		= #{num}

	</update>
	
	<resultMap id="merge" type="hashmap" />

	<select id="merge" parameterType="hashMap"  statementType="CALLABLE" >
	{
		call test_1
		(#{num}, #{name}, #{title}, #{content}, SYSDATE
		,#{result, mode=OUT, jdbcType=NUMERIC, javaType=Integer} )
	}
	</select>
	
</mapper>